<div [ngClass]="[
  baseClasses, 
  variantClasses[variant], 
  sizeClasses[size],
]">
  <ng-content>
    @switch (variant) {
      @case ("available") {
        <translate-fixed key="Available" align="center"/>
      }
      @case ("booked") {
        <translate-fixed key="Booked" align="center"/>
      }
      @case ("unavailable") {
        <translate-fixed key="Unavailable" align="center"/>
      }
      @case ("pending") {
        <translate-fixed key="PENDING" align="center"/>
      }
    }
  </ng-content>
</div>
