<component-grid-card
  [imageUrl]="getVehicleImgUrl(booking.vehicle)"
  [modelName]="booking.vehicle?.model || ''"
  [badgeVariant]="getBookingStatusVariant(booking)"
  [badgeLabelKey]="getBookingStatusLabel(booking)"
  badgeSize="xs"
  [cursorPointer]="true"
>
  <div card-body class="pt-4 pb-2 space-y-4">
      <!-- 1. Travel Dates (Depart - Return) -->
      <div
        class="flex justify-center gap-2 text-lg text-sand-800 border-b-1 border-sand-300 pb-2"
      >
        <span class="font-bold">
          {{ booking.depart | appDate }} - {{ booking.return | appDate }}
        </span>
      </div>

      <!-- 2. Reserved Vehicle -->
      <div class="flex items-start gap-2 text-base text-sand-700">
        <span
          class="material-icons text-sand-400 w-5 text-center shrink-0 mt-0.5"
          >directions_car</span
        >
        <div class="space-y-0.5">
          <div class="font-bold line-clamp-1">
            @if (booking.vehicle?.model) { {{ booking.vehicle?.model }} } @else
            {
            <translate-fixed key="No vehicle specified / ไม่ได้ระบุยานพาหนะ" />
            }
          </div>
          @if (showPlateNumber && booking.vehicle?.plateNumber) {
          <div
            class="text-xs font-mono font-bold text-sand-500 bg-sand-100 px-1.5 py-0.5 rounded border border-sand-100 inline-block"
          >
            {{ booking.vehicle?.plateNumber }}
          </div>
          }
        </div>
      </div>

      <!-- 3. Booking User -->
      <div class="flex items-center gap-2 text-xs text-sand-500">
        <span class="material-icons text-sand-400 w-5 text-center shrink-0"
          >person</span
        >
        <span class="font-medium line-clamp-1">{{ booking.userName }}</span>
      </div>

      <!-- 4. Destination -->
      <div class="flex items-center gap-2 text-xs text-sand-400">
        <span class="material-icons text-sand-400 w-5 text-center shrink-0"
          >location_on</span
        >
        <span class="line-clamp-1 italic">
          @if (booking.destination) { {{ booking.destination }} } @else {
          <translate-fixed key="No destination specified / ไม่ได้ระบุจุดหมาย" />
          }
        </span>
      </div>

      <!-- 5. Purpose -->
      <div class="flex items-center gap-2 text-xs text-sand-400">
        <span class="material-icons text-sand-300 w-5 text-center shrink-0"
          >description</span
        >
        <span class="line-clamp-1 italic">
          @if (booking.purpose) { {{ booking.purpose }} } @else {
          <translate-fixed
            key="No purpose specified / ไม่ได้ระบุวัตถุประสงค์"
          />
          }
        </span>
      </div>
  </div>
</component-grid-card>
